@import "tailwindcss";

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  cursor: cell;
}
html {
  scroll-behavior: smooth;
}
.sec2 h2,
.sec3 h2 {
  font-family: Stack Sans Headline;
}

.sc4Div {
  background: rgba(0, 0, 0, 0.9) url("/src/assets/low-poly-grid-haikei.svg");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
}
h2 {
  overflow: hidden;
}
@keyframes jelly-pop {
  0% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

a {
  overflow-y: hidden;
}
/* .carousel {
  position: relative;
}

.track {
  display: flex;
  animation: marquee 15s linear infinite;
  min-width: 200%;
  will-change: transform;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel:hover .track {
  animation-play-state: paused;
}

.skill {
  flex: 0 0 auto;
} */
